:root {
  --primary-white: #ffffff;
  --card-item-bg: #fafcfd;

  --primary-color: #04bd20;
  --primary-contrast-1: #039419;
  --primary-input-focus: #04c02051;

  --primary-2-color: #e58fff;
  --primary-2-contrast: #7b08a8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-green {
  background-color: var(--primary-color);
  color: var(--primary-white);
  font-weight: 700;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:focus-visible,
.btn-green:active {
  background-color: var(--primary-contrast-1) !important;
  color: var(--primary-white) !important;
  box-shadow: 0 0 0 0.25rem var(--primary-input-focus) !important;
}

.purple {
  color: var(--primary-2-contrast);
}

.btn-purple {
  background-color: var(--primary-2-contrast);
  color: white;
}

.green {
  color: var(--primary-color);
}

.green-bg {
  background: var(--primary-color);
  color: var(--primary-white);
}

.p-gray {
  color: rgb(91, 91, 91);
}

.cursor-pointer {
  cursor: pointer;
}

.Play-btn {
  background: #dc0000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.Play-btn i {
  color: rgb(0, 0, 0);
}

.card-transition {
  transition: transform 0.3s ease;
}

.card-transition:hover {
  transform: scale(1.05);
}

.green-i {
  color: #039419;
}

/*======================================================== scrollBar ===========================================================*/

.scrollable {
  overflow-y: scroll;
}

/* Slim scrollbar styling for WebKit browsers */
.scrollable::-webkit-scrollbar {
  width: 2px; /* Slim width */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb hover color */
}

/* Slim scrollbar styling for Firefox */
.scrollable {
  scrollbar-width: thin; /* Slim width */
  scrollbar-color: #888 #e0e0e0; /* Thumb and track colors */
}

/*=====================================================  navbar custom css ======================================================*/
.nav-color {
  background-color: var(--primary-white);
}

.nav-text {
  color: black;
}

.profile-img {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(203, 203, 203);
}

.MobileBar-container {
  top: 57px;
  background: #faf9f9f0;
}

/*======================================================== home pages ================================================*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero .form-control {
  border: 2px solid var(--primary-2-contrast);
  padding: 12px;
}

.hero-search {
  position: relative;
}

.hero .hero-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.Home-Products-Section {
  background: #6101af;
  color: var(--primary-white);
}

.Home-Products-Section h1 {
  font-weight: bold;
}

.home-banner-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

form label {
  font-weight: 600;
}

.Step-blue {
  background-color: rgba(221, 230, 250, 0.671);
  color: rgb(37 99 235);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Step-green {
  background-color: rgba(199, 253, 198, 0.671);
  color: rgb(18, 180, 16);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Step-purple {
  background-color: rgba(231, 211, 246, 0.651);
  color: rgb(129, 12, 213);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Feature-examee .svg-blue {
  color: rgb(37 99 235);
}

.Feature-examee .svg-green {
  color: rgb(18, 180, 16);
}

.Feature-examee .svg-purple,
.text-purple {
  color: rgb(129, 12, 213);
}

.Feature-examee .svg-red {
  color: rgb(190, 15, 15);
}

/*=========================================================== notes component css ==============================================*/
.notes-heroSection {
  background: var(--primary-2-color);
}
.notes-span-section {
  color: var(--primary-white);
}
.notes-item,
.team {
  background: var(--card-item-bg);
}

/*============================================================= Q-paper css ===================================================*/
.sidebar-Qpaper {
  background: #e1e1e1;
  height: 90.8vh;
}

.main-Qpaper {
  background: #f3f3f3;
  height: 90.8vh;
  overflow: auto;
}

.Qpaper-heroSection {
  background: var(--primary-2-color);
}

.Qpaper-span-section {
  color: var(--primary-white);
}

.qp-item {
  background: var(--card-item-bg);
}

.Qp-get-cources-btn-container {
  position: relative;
}

.Qp-get-cources-btn {
  position: absolute;
  bottom: 10px;
  left: 0;
}

/*============================================================== video section  ==================================================*/
.sidebar-VideoSection {
  background: #e1e1e1;
  height: 90.8vh;
}

.main-VideoSection {
  background: #f3f3f3;
  height: 90.8vh;
  overflow: auto;
}

.video-item {
  background: var(--card-item-bg);
}

/*============================================================== Cources section  ==================================================*/
.Courses-item {
  background: var(--card-item-bg);
}

.Course-header {
  background: #e3ffff;
}

/*============================================================== support section  ==================================================*/
.support-call {
  background-color: rgba(221, 230, 250, 0.671);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.support-call i{
  color: rgb(37 99 235);
}

.support-email {
  background-color: rgba(199, 253, 198, 0.671);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.support-email i{
  color: rgb(18, 180, 16);
}

.support-location {
  background-color: rgba(231, 211, 246, 0.651);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.support-location i{
  color: rgb(129, 12, 213);
}

/*============================================================== Auth section  ==================================================*/
.Auth-header .btn:hover,
.Auth-header .btn:focus-visible,
.Auth-header .btn:focus,
.Auth-header .btn-green:active {
  background-color: #f8f9fa;
  color: black;
  border: none;
}

.Register .form-control,
.Login .form-control,
.VerifyEmail .form-control .footer .form-control {
  border: 1px solid rgb(202, 201, 201);
}

.Register .form-control:focus,
.Login .form-control:focus,
.ForgotPass .form-control:focus,
.VerifyEmail .form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem var(--primary-input-focus) !important;
}

/*========================================================== footer section ============================================*/
.footer {
  background: #06121c;
  color: var(--primary-white);
}

.footer a:hover {
  color: var(--primary-color);
}

.footer p,
.footer li {
  color: rgb(180, 180, 180);
}

/*=========================================================== Dashbord ===============================================*/
.bg-darkgray{
  background-color: rgb(35, 35, 35);;
}

/*=========================================================== media Queri ===============================================*/
@media only screen and (max-width: 770px) {
  /* Notes section */
  .notes-heroSection {
    font-size: x-small;
  }

  .notes-heroSection h2 {
    font-size: large;
  }

  /* Q-paper Section */
  .sidebar-Qpaper {
    display: none;
  }

  .Qpaper-heroSection {
    font-size: x-small;
  }

  .Qpaper-heroSection h2 {
    font-size: medium;
  }

  .Qpaper-heroSection button {
    font-size: x-small;
  }

  /* Video section */
  .sidebar-VideoSection {
    height: auto;
    background: #f3f3f3;
  }
}

@media only screen and (max-width: 500px) {
  .front-img {
    width: 200px;
  }

  .mobile-h {
    font-size: medium;
  }

  .mobile-btn-fs {
    font-size: x-small;
  }
}
