:root {
    --primary-white: #ffffff;
    --card-item-bg: #ffffff;
  
    --primary-color: #04bd20;
    --primary-contrast-1: #039419;
    --primary-input-focus: #04c02051;
  
    --primary-2-color: #e58fff;
    --primary-2-contrast: #7b08a8;
    --primary-3-color : #5aeaea;
  
  
    --primary-sidebar-bg:#f3f3f3;
    --primary-mainComponent-bg:#fdfdfd;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .pl-0{
    padding-left: 0%;
  }
  
  .btn-green {
    background-color: var(--primary-color);
    color: var(--primary-white);
    font-weight: 700;
  }
  
  .btn-light-gray{
    text-decoration: none;
    color: black;
    border-radius: 6px;
    font-weight: 500;
    background-color: #F5F5F6;
  }
  
  .btn-gray-sm{
    text-decoration: none;
    color: black;
    border-radius: 4px;
    font-weight: 500;
    background-color: #f0f0f0;
    border: none;
    padding: 6px 16px;
  }
  
  .btn-gray-sm:hover{
    text-decoration: none;
    color: black;
    border-radius: 4px;
    font-weight: 500;
    background-color: #e3e3e3;
    border: none;
    padding: 6px 16px;
  }
  
  .btn-light-gray:hover{
    background-color: #F5F5F6;
  }
  
  
  .btn-green:hover,
  .btn-green:focus,
  .btn-green:focus-visible,
  .btn-green:active {
    background-color: var(--primary-contrast-1) !important;
    color: var(--primary-white) !important;
    box-shadow: 0 0 0 0.25rem var(--primary-input-focus) !important;
  }
  
  .purple {
    color: var(--primary-2-contrast);
  }
  
  .bg-purple{
    background-color: rgba(255, 108, 255, 0.79);
  }
  
  .btn-purple {
    background-color: var(--primary-2-contrast);
    color: white;
  }
  
  .green {
    color: var(--primary-color);
  }
  
  .green-bg {
    background: var(--primary-color);
    color: var(--primary-white);
  }
  
  .p-gray {
    color: rgb(91, 91, 91);
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .cursor-default{
    cursor: default;
  }
  
  .Play-btn {
    background: #dc0000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .Play-btn i {
    color: rgb(0, 0, 0);
  }
  
  .card-transition {
    transition: transform 0.3s ease;
  }
  
  .card-transition:hover {
    transform: scale(1.05);
  }
  
  .green-i {
    color: #039419;
  }
  
  .placeholder-white::placeholder{
    color: rgba(180, 178, 178, 0.677);
    font-size: small;
  }
  
  .add-mylearning{
    top: 4%;
    right: 4%;
    padding: 2px;
    border-radius: 4px;
    color: #2b2b2b;
    cursor: pointer;
    border: 2px solid black;
  }
  
  .remove-mylearning{
    top: 4%;
    right: 4%;
    padding: 1px 3px;
    border-radius: 4px;
    color: #ff0000;
    cursor: pointer;
    border: 2px solid #ff0000;
  }
  
  /*=========================================== scrollBar ===========================================================*/
  
  .scrollable {
    overflow-y: scroll;
  }
  
  /* Slim scrollbar styling for WebKit browsers */
  .scrollable::-webkit-scrollbar {
    width: 2px; /* Slim width */
  }
  
  .scrollable::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb hover color */
  }
  
  /* Slim scrollbar styling for Firefox */
  .scrollable {
    scrollbar-width: thin; /* Slim width */
    scrollbar-color: #888 #e0e0e0; /* Thumb and track colors */
  }
  
  /*===================================== navbar custom css ======================================================*/
  .navbar-brand{
    outline: none;
  }
  .nav-color {
    background-color: var(--primary-white);
  }
  
  .nav-text {
    color: black;
  }
  
  .profile-img {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(203, 203, 203);
  }
  
  .MobileBar-container {
    top: 57px;
    background: #faf9f9f0;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: block;
  }
  
  /*============================================== home pages ================================================*/
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero .search {
    position: relative;
    border: 2px solid var(--primary-2-contrast);
    padding: 6px;
    transition: box-shadow 0.2s ease;
  }
  
  .search-active {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  
  .hero .hero-btn {
    position: absolute;
    bottom: 3px;
    right: 3px;
    border: none;
  }
  
  .hero .form-control {
    width: 84%;
    border: none;  
    box-shadow: none; 
  }
  
  .serch-data-container{
    position: absolute;
    z-index: 1001;
    padding: 20px;
    min-width: 96vw;
    min-height: 86vh;
    top: 5vh;
    left: 2vw;
  }
  
  .Home-Products-Section {
    background: #6101af;
    color: var(--primary-white);
  }
  
  .Home-Products-Section h1 {
    font-weight: bold;
  }
  
  .home-banner-section {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  form label {
    font-weight: 600;
  }
  
  .Step-blue {
    background-color: rgba(221, 230, 250, 0.671);
    color: rgb(37 99 235);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Step-green {
    background-color: rgba(199, 253, 198, 0.671);
    color: rgb(18, 180, 16);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Step-purple {
    background-color: rgba(231, 211, 246, 0.651);
    color: rgb(129, 12, 213);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Feature-examee .svg-blue {
    color: rgb(37 99 235);
  }
  
  .Feature-examee .svg-green {
    color: rgb(18, 180, 16);
  }
  
  .Feature-examee .svg-purple,
  .text-purple {
    color: rgb(129, 12, 213);
  }
  
  .Feature-examee .svg-red {
    color: rgb(190, 15, 15);
  }


  /*================================================== footer section ============================================*/
  .footer {
    background: #06121c;
    color: var(--primary-white);
  }
  
  .footer a:hover {
    color: var(--primary-color);
  }
  
  .footer p,
  .footer li {
    color: rgb(180, 180, 180);
  }
  
  /*================================================ Profile ===============================================*/
  .userprofile-img {
    width: 140px;
    height: 140px;
    margin: 0 22px;
    object-fit: cover;
  }
  
  .banner-container {
    max-height: 100%;
  }
  
  .banner-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  
  /*=========================================== plan page =================================================*/
  /* Payment Page Styles */
  .payment-header h2 {
    font-size: 1.75rem;
    color: #333;
    font-weight: bold;
  }
  
  .payment-header p {
    color: #555;
    font-size: 1rem;
  }
  
  .plan-summary h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .plan-summary p.plan-price {
    font-size: 1.25rem;
    color: #333;
    font-weight: 700;
  }
  
  .plan-benefits {
    list-style-type: none;
    padding-left: 0;
  }
  
  .plan-benefits li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
  }
  
  .user-details h5 {
    font-size: 1.25rem;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .form-group label {
    font-size: 1rem;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea {
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .payment-options h5 {
    font-size: 1.25rem;
    color: #333;
    margin-top: 20px;
    font-weight: 600;
  }
  
  .methods {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .method {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .method:hover {
    background-color: #f0f0f0;
  }
  
  .method i {
    font-size: 1.5rem;
    color: #ffcc00;
    margin-right: 10px;
  }
  
  .method span {
    font-size: 1rem;
    color: #333;
  }
  
  .payment-options button {
    width: 100%;
    padding: 15px;
    background-color: #ffc000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .payment-options button:hover {
    background-color: #ffc000;
  }
  
  
  @media (max-width: 768px) {
    .payment-container {
      padding: 20px;
    }
  }
  

  /*=========================================== media Queri ===============================================*/
  @media only screen and (max-width: 770px) {
    /* Notes section */
    .notes-heroSection,
    .video-heroSection,
     .mylearning-heroSection,
     .serchContent-heroSection{
      font-size: x-small;
    }
  
    .notes-heroSection h2,
    .video-heroSection h2,
    .mylearning-heroSection h2,
    .serchContent-heroSection h2,
    .dashbord-heading-text {
      font-size: large;
    }
  
    .Qpaper-heroSection {
      font-size: x-small;
    }
  
    .Qpaper-heroSection h2,
    .dashbord-upload-btn-text {
      font-size: medium;
    }
  
    .Qpaper-heroSection button {
      font-size: x-small;
    }
  }
  
  @media only screen and (max-width: 990px) {
    /* Q-paper Section */
    .sidebar-Qpaper {
      display: none;
    }
  
    /* Video section */
    .sidebar-VideoSection {
      height: auto;
      background: var(--primary-sidebar-bg);
    }
  }
  
  
  @media only screen and (max-width: 500px) {
    .mylearning-section-heading h5{
      font-size: small;
    }
  
    .front-img {
      width: 200px;
    }
  
    .mobile-h,
    .dashbord-heading-text,
    .main-CoursesSection h5 {
      font-size: medium;
    }
  
    .mobile-btn-fs,
    .dashbord-upload-btn-text {
      font-size: x-small;
    }
  }
  
  