* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-nav li a:hover{
    text-decoration: none;
    color: rgb(46, 46, 46);
}


/*================================================ Custom Navbar color ==================================================*/
.nav-color {
    background-color: #ffffff;
}

.navbar-brand{
    outline: none;
}

/* Profile image */
.profile-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

/* MobileBar container */
.MobileBar-container {
    position: relative;
    z-index: 1050;
}

.MobileBar {
    background-color: #f9f9f9;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.nav-text {
    color: #333;
}

.nav-text:hover {
    color: #007bff;
}